<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poppa's Pizza</title>

    <!-- Favicon -->
    <link rel="icon" href="images/pizza-icon.jpg">
    
    <!-- Stylesheet -->
     <link rel="stylesheet" href="styles/pizza-styles.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <img src="images/pizza-guy.jpg" alt="Pizza Guy">
            <h1>Poppa's Pizza</h1>
            <h2>Serving GRC students for 50 years!</h2>
            <hr>
            <p>We make the best pizza ever. Visit us today.</p>
            <a id="contact-button" href="#" role="button">Contact Us</a>
        </div>
        <form id="pizza-form" action="#" method="get">

            <!-- Contact Info -->
            <fieldset>
                <legend>Contact Info</legend>
                <label for="fname">First Name:</label>
                <input type="text" id="fname" name="fname">
                <label for="lname">Last Name:</label>
                <input type="text" id="lname" name="lname">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </fieldset>

            <!-- Pickup or Delivery -->
            <fieldset>
                <legend>Select Pickup or Delivery</legend>
                <label for="pickup">
                    <input type="radio" id="pickup" name="method" value="pickup">
                    Pickup
                </label>
                <label for="delivery">
                    <input type="radio" id="delivery" name="method" value="delivery">
                    Delivery
                </label>
            </fieldset>

            <!-- Select Toppings -->
            <fieldset>
                <legend>Select Toppings</legend>
                <label for="pepperoni">
                    <input type="checkbox" id="pepperoni" 
                           name="toppings[]" value="pepperoni">
                    Pepperoni
                </label>
                <label for="olives">
                    <input type="checkbox" id="olives" 
                           name="toppings[]" value="olives">
                    Olives
                </label>
                <label for="mushrooms">
                    <input type="checkbox" id="mushrooms" 
                           name="toppings[]" value="mushrooms">
                    Mushrooms
                </label>
            </fieldset>            

            <!-- Select Pizza Size -->
            <fieldset>
                <legend>Select Pizza Size</legend>
                <select id="size" name="size">
                    <option value="none">-- Select a Size --</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </fieldset>

            <!-- Comment field -->
            <label for="comment">Comments</label>
            <textarea rows="5" id="comment" name="comment"></textarea>

            <!-- Order button -->
            <button type="submit" id="order-button">Place Order</button>
        </form>
    </div>
    </body>
</html>